<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    {% extends "base.html" %} {% block title %}Login - Gestão de Projetos{%
    endblock %} {% block content %}
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <h1>Bem-vindo à Página 1</h1>
    <p>Este é o conteúdo da Página 1.</p>
    {% endblock %}
  </body>
</html>
